{:mapping {"lacinia-pedestal"            "full-*"
           "graphql-spring-boot-starter" "java-*"
           "graphql-kotlin"              "kotlin-*"
           "micronaut"                   "micronaut-*"}}
